--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.13.0+cpu
torchvision==0.28.0+cpu
torchmetrics
numpy==2.2.6
tqdm
matplotlib
pandas
soundfile
wandb
comet_ml
hydra-core

black
isort
pre-commit
